<header class="navbar navbar-expand-lg  encabezado">
    <div class="container-fluid">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7BFZVxXtN1sDOO5J0qC_yJxWYxiBg0r7i9cB79T6J-g&s"
            alt="Logo de la tienda" class="tamLogo">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav fuentesNav ms-auto">
                {{#if isAuthenticated}}
                    <!-- Si el usuario está autenticado, muestra un enlace de cerrar sesión -->
                    <li class="nav-item"><a href="/api/users/profile">Mi Perfil</a></li>
                    <li class="nav-item"><a href="/carts/{{userCart}}">Mi carrito</a></li>
                    <li class="nav-item"><a href="/api/users/logout">Cerrar sesión</a></li>
                {{else}}
                    <!-- Si el usuario no está autenticado, muestra un enlace de iniciar sesión -->
                    <li class="nav-item"><a href="/login">Iniciar sesión</a></li>
                    <li class="nav-item"><a href="/register">Registrarse</a></li>
                {{/if}}
            </ul>
        </nav>
    </div>
</header>